{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
        <div>
        
            <div >
                <div style="width: 80%; height: 30px; margin: auto; text-align: center; ">
                    <h1>Welcome page</h1>
                </div>
                
            </div>
            <br/>
            <div  class="box">
                <div style="width: 80%; height: 30px; margin: auto; text-align: center; ">
                    Hi, {{ username }}
                </div>
                
            </div>
            <br/>
            <a href="/register" style="text-decoration: none;">
            <div  class="box">
                <div style="width: 80%; height: 30px; margin: auto; text-align: center; ">
                    Register
                </div>
                
            </div>
            </a>
           <br/>
           <a href="/login" style="text-decoration: none;">
            <div  class="box">
                <div style="width: 80%; height: 30px; margin: auto; text-align: center; ">
                   Login
                </div>
                
            </div>
            </a>
            <br/>
            {% if username != "Anonimous" %}
                <a href="/logout" style="text-decoration: none;">
                <div  class="box">
                    <div style="width: 80%; height: 30px; margin: auto; text-align: center; ">
                       Logout
                    </div>
                </div>
                </a> 
            {% endif %}
        </div>    
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/bundles/framework/css/styles.css">
{% endblock %}
