{% extends 'base.html.twig' %}

{% block body %}

 <div >
                <div class="row">
                    <h1>Login page</h1>
                </div>
                
            </div><br/>
               
<form action="{{ path('login_check') }}" method="post">
<div class="row">
                {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
                </div>
                
            </div><br/>

<div class="row">
                   <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>
                
            </div><br/>
   
<div class="row">
                    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
                </div>
                
            </div><br/>
  

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
<div class="row">
                    <button type="submit">Login</button>
                </div>
                
            </div><br/>
   
</form>

<a href="/">
            <div >
                <div style="width: 80%; height: 30px; margin: auto; text-align: center; ">
                    <h3>Homepage</h3>
                </div>
                
            </div>
</a>


{% endblock %}


{% block stylesheets %}

<link rel="stylesheet" href="/bundles/framework/css/styles.css">
{% endblock %}
