{% extends 'base.html.twig' %}
{% block body %}
  <div id="wrapper">
        <div id="container">
        <div>

            <div >
                <div class="row">
                    <h1>Register page</h1>
                </div>
                
            </div><br/>
			{{ form_start(form) }}
				<div >
                <div class="row">
                   {{ form_row(form.username) }}
                </div>
                
            </div>
			   
<br/>
			  
 				<div >
                <div class="row">
                     {{ form_row(form.email) }}
                </div>
                
            </div><br/>
             <div >
                <div class="row">
                    {{ form_row(form.plainPassword.first) }}
                </div>
                
            </div><br/>
			   
 <div >
                <div class="row">
                  {{ form_row(form.plainPassword.second) }}
                </div>
                
            </div><br/>
			    

 <div >
                <div class="row">
                    <button type="submit">Register!</button>
                </div>
                
            </div><br/>
			   


			{{ form_end(form) }}


<a href="/">
			<div >
                <div style="width: 80%; height: 30px; margin: auto; text-align: center; ">
                    <h3>Homepage</h3>
                </div>
                
            </div>
</a>



  		</div>    
        </div>
    </div>
{% endblock %}
{% block stylesheets %}

<link rel="stylesheet" href="/bundles/framework/css/styles.css">
{% endblock %}